.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .click-info {
    margin-top: 20px;
    font-size: 18px;
  }

  .player-toggle-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .player-toggle-button.red {
    background-color: red;
  }
  
  .player-toggle-button.yellow {
    background-color: yellow;
    color: black;
  }
  
  .victory-debug-button {
    margin-top: 20px;
  }

  @font-face {
    font-family: 'ArcadeClassic'; 
    src: url('../src/assets/Fonts/ARCADECLASSIC.TTF') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}


  .confirm-button {
    font-family: 'ArcadeClassic'; 
    padding: 10px 20px;
    font-size: 30px;
    width: 250px;
    height: 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .confirm-button:hover {
    background-color: #0056b3;
  }
  
  .confirm-button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  