/* HelpPopup.css */
.help-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.help-popup {
    padding: 20px;
    background-image: url('../src/assets/Menu/BlueBoard.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 8px;
    width: 600px; 
    max-width: 90%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.popup-header2 h2 {
    margin: 0;
    color: red;
    font-family: 'ArcadeClassic', sans-serif; 
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.425);
    font-size: 60px;
}

@font-face {
    font-family: 'ArcadeClassic'; 
    src: url('../src/assets/Fonts/ARCADECLASSIC.TTF') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
}

.instruction-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.instruction-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.arrow {
    font-size: 2em;
    cursor: pointer;
    color: #333;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 50%;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #4CAF50;
}
