.queue-container {
  width: 100%;
  margin-top: 3.5em;
  max-width: 250px;
  border-radius: 1px;
  padding: 10px;
}

.queue-container h2 {
  text-align: center;
  margin: 5px;
  margin: 20px;
  font-size: 1.5em;
}

.queue-button {
  padding: 0; 
  margin: 10px;
  border: none;
  background: none; 
  filter: hue-rotate(180deg);
}

.queue-button:hover {
  filter: hue-rotate(220deg);
  transform: scale(1.05);
}

.queue-table {
  overflow-y: auto;
}

.queue-table table {
  width: 100%;
  border-collapse: collapse;
}

.queue-table th,
.queue-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.queue-table th {
  position: sticky; /* Makes header stick when scrolling */
  top: 0;
}

